:host {
  display: block;
}

.item {
  background-color: #efefef;
  border: 1px solid #ddd;
  padding: 10px;
}

core-field {
  border: 1px solid #ddd;
  margin: 10px;
  height: 40px;
}

paper-fab {
  color: #fff;
  right: 10px;
  bottom: 10px;
  position: absolute;
}
