#table .thead .tr .th,
#table .tbody .tr .td,
#table .tbody .tr .td-host::shadow .td,
#tableHeader, #tableFooter {
  padding-top: 18px;
  padding-bottom: 11px; /* -1px because of the border */
}

#table .thead .tr .th {
  padding-top: 14px;
  padding-bottom: 14px;
}

#table .thead .tr .th,
#table .tbody .tr .td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#table .thead .tr .th,
#table .tbody .tr .td {
  padding-right: 56px;
}

#table .thead .tr .th:first-of-type,
#table .tbody .tr .td:first-of-type {
  padding-left: 24px;
}

#table .thead .tr .th:last-of-type,
#table .tbody .tr .td:last-of-type {
  padding-right: 24px;
}

#table .thead .tr .th {
  font-size: 12px;
  color: rgba(0, 0, 0, .54);
  cursor: pointer;
}

#table .thead .tr .th:not(.sorted):hover .icon {
  color: rgba(0, 0, 0, .26);
  font-size: 16px;
}

#table .thead .tr .th {
  position: relative;
  overflow: visible;
}

#table .thead .tr iron-icon.sorted-ascending,
#table .thead .tr iron-icon.sorted-descending {
  color: rgba(0, 0, 0, .87);
  position: absolute;
  left: -18px;
  width: 16px;
  height: 16px;
}

#table .thead .tr iron-icon.sorted-ascending {
  margin-top: -2px;
}

#table .thead .tr iron-icon.sorted-descending {
  margin-top: 3px;
}

#table .thead .tr .th:not(.sorted-ascending):not(.sorted-descending) iron-icon {
  display: none;
}

#table .thead .tr .th:not(.sorted-ascending) .sorted-ascending,
#table .thead .tr .th:not(.sorted-descending) .sorted-descending {
  opacity: 0.4;
}

#table .thead .tr .th.sorted-ascending .sorted-ascending,
#table .thead .tr .th.sorted-descending .sorted-descending {

}

#table .tbody .tr {
  border-top: 1px solid rgba(0, 0, 0, .22);
}

#table .tbody .tr:hover {
  background: #eeeeee;
}

#table .tbody .tr.selected {
  background: #f5f5f5;
}

#table .tbody .tr .td a {
  color: #0277BD;
  text-decoration: none;
}

#table .tbody .tr .td,
#table .tbody .tr .td-host::shadow .td {
  font-size: 13px;
  color: rgba(0, 0, 0, .87);
  line-height: 13px;
}

#table {
  position: relative;
}
