body {
  background: #fafafa;
  color: #333;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

core-header-panel {
  background: white;
}

core-toolbar {
  background-color: #03A9F4;
  color: #fff;
}

core-field {
  border: 1px solid #ddd;
  margin: 10px;
  height: 40px;
}

.content {
  height: 2000px;
}

.item {
  background-color: #efefef;
  border: 1px solid #ddd;
  padding: 10px;
}
