body {
  background: #fafafa;
  color: #333;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  height: 2000px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

input {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 4px;
  color: #333;
  font-size: 14px;
}

[item] {
  border: 1px solid #ddd;
  margin: 10px;
  height: 40px;
}

[item] > *[item-icon] {
  width: 56px;
}

[item] > *:not(:first-child):not(:last-child) {
  margin-right: 16px;
}
