:host {
  display: block;
  @apply(--layout-vertical);
}

.item {
  background-color: #efefef;
  border: 1px solid #ddd;
  padding: 10px;
}

paper-fab {
  color: #fff;
  right: 10px;
  bottom: 10px;
  position: absolute;
}
