:host {
  display: block;
}

#list {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  height: 100%;
}

.state {
  text-transform: uppercase;
  color: gray;
  padding: 5px;
}

.item {
  background-color: #efefef;
  border: 1px solid #ddd;
  padding: 10px;
}

paper-fab {
  color: #fff;
  right: 10px;
  bottom: 10px;
  position: absolute;
}
